.review-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .review-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .review-rating {
    font-weight: bold;
    margin-bottom: 10px;
    /* Agrega estilos para las estrellas aquí, si es necesario */
  }
  
  .review-text {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .review-info {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .review-info span {
    color: #ff0000; /* Color para "editado" */
  }
  
  .review-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .review-buttons button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-right: 5px;
  }
  
  .review-buttons button:last-child {
    margin-right: 0;
  }

  /* Estilo para el contenedor de estrellas */
.star-rating {
    display: flex;
    align-items: center;
  }
  
  /* Estilo para la estrella individual */
  .stare {
    font-size: 24px; /* Ajusta el tamaño de la estrella según tu preferencia */
    margin-right: 5px;
    
    
    color: #f39c12; /* Color de estrella inactiva */
  }
  
  /* Estilo para la estrella activa */
  .stare.inactive {
    color: #888886; /* Color de estrella activa */
  }

  .review-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .review-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  .review-modal-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .review-modal-label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .review-modal-textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .review-modal-select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .review-modal-buttons {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 16px; /* Añade un margen superior para separar los botones */
  }
  
  .review-modal-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 8px; /* Añade margen horizontal para separar los botones */
  }
  
  .review-modal-button:hover {
    background-color: #0056b3;
  }

  .review-product-container {
    max-height: 400px; /* Define la altura máxima del cuadro */
    overflow-y: auto; /* Habilita el desplazamiento vertical cuando sea necesario */
    border: 1px solid #ccc; /* Agrega un borde para visualizar el cuadro */
    padding: 10px; /* Agrega un espacio interno para separar el contenido del borde */
  }
 
  
  
  
  